[Unit]
Description=Journald performance tester by spamming log lines via journal.
[Service]
Restart=no
LimitNOFILE=infinity
TasksMax=infinity
SyslogIdentifier=journal-performance-tester-journal
ExecStart=/bin/bash -c 'time /home/centos/journal_perf/journal_perf journal $(uuidgen) 100000'
